@import "tailwindcss";

.wave {
  width: 100%;
  height: 100%;

  border-radius: 42% 58% 63% 37% / 41% 44% 56% 59%;

  filter: blur(60px);

  opacity: 0.8;
}

/* Gradient layers */

.wave1 {
  background: linear-gradient(
    135deg,
    #ff8a00,
    #ff3cac,
    #784ba0,
    #2b86c5
  );
}

.wave2 {
  background: linear-gradient(
    225deg,
    #ff512f,
    #dd2476,
    #ff9966
  );
}

.wave3 {
  background: linear-gradient(
    315deg,
    #00c6ff,
    #0072ff,
    #ff3cac
  );
}
